---
import UserForm from "../components/UserForm";
import UserTable from "../components/UserTable";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title class="">Limonet</title>
		<UserForm client:visible/>
		<UserTable client:visible/>
	</head>
	<body class="antialiased text-slate-500 bg-gray-900 m-5">
	</body>
</html>
